/* fonts */
@font-face {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-style: normal;
  font-weight: normal;
}

body {
	font-family: 'Libre Baskerville', georgia, serif;
}
#body {
	height: 300px;
}
.nav-bar {
	margin: 0px;
}
.no-padding {
    padding: 0;
}
.post {
    margin: 40px 40px 20px 40px;
    max-width: 960px;
    line-height: 160%;
}
.post a {
    color: orangered;
}
.post div.title {
    margin-bottom: 10px;
}
.post a:hover {
    color: #FF69B4;
}
.post .title {
    font-size: 48px;
    font-weight: bold;
    text-decoration: none;
    color: light-blue;
}
.post p {
    max-width: 85%;
}

project {
  font-weight: bold;
  font-size: 24px;
  color: #006400;
}
project:after {
  content: " => ";
}
ul {
  list-style-type: none;
}
ul.projects li {
  margin-top: 15px;
}
pre {
    margin-bottom: 17px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
}

/* body { */
/*     color: black; */
/*     font-size: 16px; */
/*     margin: 0px auto 0px auto; */
/*     width: 600px; */
/* } */

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

footer {
	text-align: center;
}
div.footer {
    clear: both;
}
div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
    clear: both;
}

h1 {
    font-size: 24px;
    line-height: 100%;
}

h2 {
    font-size: 20px;
    line-height: 100%;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

.sourceCode {
    font-family: 'Ubuntu Mono', monospace;
}

pre.sourceCode {
    padding: 3px 10px 3px 10px;
    background-color: #223;
}

table.sourceCode, tr.sourceCode,
td.lineNumbers, td.sourceCode,
table.sourceCode pre {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    border: none;
}
td.lineNumbers {
    border-right: 1px solid #AAAAAA;
    text-align: right;
    color: #AAAAAA;
    padding-right: 5px;
    padding-left: 5px;
}

td.sourceCode { padding-left: 5px; }

/* main text */
code.sourceCode { color: #EEE; }
/* keyword */
.sourceCode span.kw { color: #A04278; font-weight: bold; }
/* import target, function name, constructors */
.sourceCode span.dt { color: #38Ae31; }
/* numbers/literals? */
.sourceCode span.dv { color: #6eA1A1; }
/* */
.sourceCode span.bn { color: #40a070; }
/* */
.sourceCode span.fl { color: #40a070; }
/* */
.sourceCode span.ch { color: #4070a0; }
/* string */
.sourceCode span.st { color: #63A6f0; }
/* comments */
.sourceCode span.co { color: #60a0b0; font-style: italic; }
/* operators, accessors */
.sourceCode span.ot { color: #A0F0A0; }
/* */
.sourceCode span.al { color: red; font-weight: bold; }
/* function */
.sourceCode span.fu { color: #a10cac; }
/* */
.sourceCode span.re { }
/* */
.sourceCode span.er { color: red; font-weight: bold; }


blockquote {
  background-color: #CCE;
  padding: 3px 10px 3px 10px;
}

/* headers */
h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

/* side by side */

div.pair {
    margin: 0;
    clear: both;
}

div.left {
    width: 40%;
    float: left;
    margin: 0px 10px 25px 0px;
}

div.right {
    width: 55%;
    float: right;
    margin: 0px 10px 25px 0px;
}

div.blurb {
    margin: 40px 40px 20px 40px;
    padding: 5px 0px 5px 0px;
    max-width: 720px;
    background-color: #CCE;
    clear: both;
}

div.blurb p {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}
